@use "./variables.scss" as vars;

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    padding: 2em 3em; // padding: vertical horizontal
    background: url(/images/hero-background-3.jpg);
    background-size: cover;
    gap: 2em;

}

.chipsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

   
}

@media screen and (max-width: vars.$mobile-breakpoint) {
    .container {
        padding: 4em 1em;
        background-position: center;
        gap: 1em;
    }

    .chipsContainer {
        gap: .5em;
    }
    
}
